
.news__ribbon{
    animation: fade .5s ease-in-out infinite;
}

.reach *{
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    color: var(--dark-secondary);
}


@keyframes fade {
    0% {opacity: 1;}
    30% {opacity: .7;}
    60% {opacity: 1;}
    90% {opacity: .5;}

}
